<div class="nav-reserveform d-flex">
    <ul>
        {% with request.resolver_match.url_name as step %}
        
        <!-- Category Navigation -->
        <li class="nav-link nav-category d-flex {% if step == 'category' or step == 'services' or step == 'stylist' or step == 'workday' or step == 'workhour' or step == 'review' %}active{% endif %}">
            <a href="{% url 'reserveform:category' %}">
                <i class="fa-solid fa-grid-2"></i>
                <p>دسته</p>
            </a>
        </li>
        
        <!-- Services Navigation -->
        {% if step == 'services' or step == 'stylist' or step == 'workday' or step == 'workhour' or step == 'review' %}
        <li class="nav-link nav-services d-flex align-items-center justify-content-center {% if step == 'services' or step == 'stylist' or step == 'workday' or step == 'workhour' or step == 'review' %}active{% endif %}">
            <i class="fa-solid fa-arrow-left nav-services"></i>
            <a href="{% url 'reserveform:services' %}">
                <i class="fa-solid fa-fire"></i>
                <p>سرویسها</p>
            </a>
        </li>
        {% endif %}
        
        <!-- Stylist Navigation -->
        {% if step == 'stylist' or step == 'workday' or step == 'workhour' or step == 'review' %}
        <li class="nav-link nav-stylist d-flex align-items-center justify-content-center {% if step == 'stylist' or step == 'workday' or step == 'workhour' or step == 'review' %}active{% endif %}">
            <i class="fa-solid fa-arrow-left nav-stylist"></i>
            <a href="{% url 'reserveform:stylist' %}">
                <i class="fa-solid fa-person-dress"></i>
                <p>استالیست</p>
            </a>
        </li>
        {% endif %}
        
        <!-- Workday Navigation -->
        {% if step == 'workday' or step == 'workhour' or step == 'review' %}
        <li class="nav-link nav-workday d-flex align-items-center justify-content-center {% if step == 'workday' or step == 'workhour' or step == 'review' %}active{% endif %}">
            <i class="fa-solid fa-arrow-left nav-workday"></i>
            <a href="{% url 'reserveform:workday' %}">
                <i class="fa-solid fa-calendar-days"></i>
                <p>تاریخ</p>
            </a>
        </li>
        {% endif %}
        
        <!-- Workhour Navigation -->
        {% if step == 'workhour' or step == 'review' %}
        <li class="nav-link nav-workhour d-flex align-items-center justify-content-center {% if step == 'workhour' or step == 'review' %}active{% endif %}">
            <i class="fa-solid fa-arrow-left nav-workhour"></i>
            <a href="{% url 'reserveform:workhour' %}">
                <i class="fa-solid fa-alarm-clock"></i>
                <p>ساعت</p> 
            </a>
        </li>
        {% endif %}
        
        <!-- Review Navigation -->
        {% if step == 'review' %}
        <li class="nav-link nav-review d-flex align-items-center justify-content-center">
            <i class="fa-solid fa-arrow-left nav-review"></i>
            <a href="{% url 'reserveform:review' %}">
                <i class="fa-solid fa-face-smile"></i>
                <p>نهایی</p>
            </a>
        </li>
        {% endif %}
        
        {% endwith %}
    </ul>
</div>
