<div class="nav-reserveform d-flex">
    <ul>
        <li class="nav-link">
            <a href="{% url 'reserveform:category' %}">
                <i class="fa-solid fa-grid-2"></i>
                <p>دسته</p>
            </a>
        </li>
        <i class="fa-solid fa-arrow-left"></i>
        <li class="nav-link">
            <a href="{% url 'reserveform:services' %}">
                <i class="fa-solid fa-fire"></i>
                <p>سرویسها</p>
            </a>
        </li>
        <i class="fa-solid fa-arrow-left"></i>
        <li class="nav-link">
            <a href="{% url 'reserveform:stylist' %}">
                <i class="fa-solid fa-person-dress"></i>
                <p>استالیست</p>
            </a>
        </li>

        <i class="fa-solid fa-arrow-left"></i>
        <li class="nav-link">
            <a href="{% url 'reserveform:workday' %}">
                <i class="fa-solid fa-calendar-days"></i>
                <p>تاریخ</p>
            </a>
        </li>
        <i class="fa-solid fa-arrow-left"></i>
        <li class="nav-link">
            <a href="{% url 'reserveform:workhour' %}">
                <i class="fa-solid fa-alarm-clock"></i>
                <p>ساعت</p> 
            </a>
        </li>
        <i class="fa-solid fa-arrow-left"></i>
        <li class="nav-link">
            <a href="{% url 'reserveform:review' %}">

                <i class="fa-solid fa-face-smile"></i>
                <p>نهایی</p>
            </a>
        </li>
    </ul>
</div>