{% extends "core/base.html" %}
{% load i18n %}
{% load custom_filters %}


{% block extra_css_no_compress %} 
<style>

</style>
{% endblock extra_css_no_compress %}


{% block content %}
<div style="margin-top: 200px;" >
    {% include "./nav.html" %}

    <div id="content" class=" d-flex flex-column justify-content-center align-items-center">
        <h1>بازنگری و تایید نهایی</h1>
            <!-- Display messages -->
            {% if messages %}
                <ul>
                {% for message in messages %}
                    <li {% if message.tags %}class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        <form method="post" id="reservation-form" action="{% url 'reserveform:review' %}" >
            {% csrf_token %}
            <div class="d-flex flex-column align-items-center justify-content-center">
                <div class="d-flex flex-column review-confirm">
                    <label for="service_category">
                        <i class="fa-solid fa-star"></i>
                        
                        <span class="label-title">
                            دسته بندی : 
                        </span>
                        <span>
                            {{category}}
                        </span>
                        <input name="service_category" id="service_category" value="{{ category.id }}" hidden>
                    </label>

                    <label for="service">
                        <i class="fa-solid fa-star"></i>
                        <span class="label-title">
                            نوع خدمت : 
                        </span>
                        <span>
                            {{service}}
                        </span>
                        <input name="service" id="service" value="{{ service.id }}" hidden>
                    </label>

                    <label for="stylist">
                        <i class="fa-solid fa-star"></i>
                        <span class="label-title">
                            استایلیست :
                        </span>
                        <span>
                            {{ admin.user.user_profile.first_name }} {{ admin.user.user_profile.last_name }}
                        </span>
                        <input name="stylist" id="stylist" value="{{ admin.id }}" hidden>
                    </label>

                    <label for="day">
                        <i class="fa-solid fa-star"></i>
                        <span class="label-title" class="label-title">
                            روز رزرو : 
                        </span>
                        <span id="persian-date"></span>
                        <input name="day" id="day" value="{{ day }}" hidden>
                    </label>
                    <label for="hour">
                        <i class="fa-solid fa-star"></i>
                        <span class="label-title">
                            ساعت رزرو :
                        </span>
                        <span>
                            {{ hour}} - {{ hour|add_minutes_review:service_duration}}
                        
                        </span>

                        <input name="hour" id="hour" value="{{ hour }}" hidden>
                    </label>
                    
                    <input name="customer" id="customer" value="{{ customer.id }}" hidden>
                </div>
                <div>
                    <a href="{% url 'reserveform:category' %}" class="btn btn-secondary">ویرایش</a>

                    <button class="reserve-button btn btn-success" type="submit">تایید نهایی</button>
                </div>
            </div>

        </form>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script>
    $(document).ready(function() {
        // Get the day from the hidden input
        let day = new Date("{{ day }}");

        // Check if the date is valid
        if (!isNaN(day)) {
            // Get the formatted parts including the day of the week in Persian
            let options = { 
                year: 'numeric', 
                month: 'long', 
                day: 'numeric', 
            };

            // Get the formatted date string in Persian
            let persianDateString = day.toLocaleDateString('fa-IR', options);
            
            // Split the formatted date string into parts
            let persianParts = persianDateString.split(' ');

            // Format as "1 مهر 1403"
            let formattedDate = `${persianParts[0]} ${persianParts[1]} ${persianParts[2]}`;

            // Display the formatted date in the designated span
            $('#persian-date').text(formattedDate);
        } else {
            $('#persian-date').text('تاریخ نامعتبر');
        }
    });
</script>
{% endblock extra_js %}

