{% extends "core/base.html" %}
{% load i18n %}
{% load static%}

{% block extra_css_no_compress %} 
<link href="{% static 'plugins/persiandate/css/persian-datepicker.min.css' %}" rel="stylesheet">

<style>
    .alert-container {
        margin: 20px 0;
    }
    .alert {
        padding: 15px;
        border-radius: 5px;
        margin-bottom: 10px;
    }
    .alert-error {
        background-color: #f8d7da;
        color: #721c24;
        border: 1px solid #f5c6cb;
    }

</style>
<style>
    .datepicker-plot-area-inline-view {
        direction: ltr;
    }
    div#plotId {
        width: 30rem;
        font-family: 'vazir';
        font-size: 1.1rem;
    }
    .datepicker-plot-area .datepicker-day-view .table-days td {
        height: 40px;
    }
    .datepicker-plot-area .datepicker-day-view .table-days td span {
        height: 40px;
        line-height: 40px;
    }
    .datepicker-plot-area .datepicker-day-view .month-grid-box .header .header-row {
        height: 50px;
        background-color: #f1f1f1;
        border-radius: 20px;
    }

    .datepicker-plot-area .datepicker-day-view .table-days td.selected span{
        text-shadow: none ;
        border-radius:20px
    }
    .datepicker-plot-area .datepicker-day-view .table-days td.today span {
        background-color: white;
        color: green;
    }
    .datepicker-plot-area .datepicker-day-view .table-days td.today.disable span {
        background-color: white;
        color: #f1f1f1;
        text-decoration-line:none;

    }
    .datepicker-plot-area .datepicker-day-view .table-days td.today.selected span {
        background-color: #005299;
        color: #fff;
    }
    .datepicker-plot-area .datepicker-day-view .table-days td.disabled span, .datepicker-plot-area .datepicker-year-view .year-item-disable, .datepicker-plot-area .datepicker-month-view .month-item-disable {
        background-color: white;
        color: #ccc;
        text-decoration-line:none;

    }
    .datepicker-plot-area .datepicker-day-view .table-days td span, .datepicker-plot-area .datepicker-year-view .year-item, .datepicker-plot-area .datepicker-month-view .month-item {
        color: green;
        text-decoration-line:underline;
    }

    .datepicker-navigator {
        margin: 1rem 0;
    }
    .datepicker-plot-area .datepicker-day-view .table-days td.today span {
        border-radius: 20px;
    }
    .datepicker-plot-area .datepicker-day-view .table-days td.selected span .datepicker-plot-area .datepicker-day-view .table-days td:hover, .datepicker-plot-area .datepicker-day-view .table-days td span:hover, .datepicker-plot-area .datepicker-year-view .year-item:hover, .datepicker-plot-area .datepicker-month-view .month-item:hover {
        border-radius: 20px;
    }
</style>

{% endblock extra_css_no_compress %}


{% block content %}
<div style="margin-top: 200px;" >
    {% include "./nav.html" %}
    {% if messages %}
        <div class="alert-container">
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">{{ message }}</div>
            {% endfor %}
        </div>
    {% endif %}
    <div id="content" class="reservation-selection flex-column">
        <h1 class="reservation-title">انتخاب دسته بندی خدمات</h1>
        
        <form method="post" id="reservation-form" class="pick-reserve-date mt-4 d-flex flex-column align-items-center justify-content-center">
            {% csrf_token %}

            <label for="selected-date"></label>


                <div class="locale-fa"></div>
                <input type="hidden" name="day" id="selected-date" >
            <button class="reserve-button btn btn-success mt-3" type="submit">مرحله بعد</button>
        </form>
    </div>
</div>


{% endblock %}

{% block extra_js %}
<script src="{% static 'plugins/persiandate/js/persian-date.min.js' %}"></script>
<script src="{% static 'plugins/persiandate/js/persiandatepicker.min.js' %}"></script>

<script type="text/javascript">

    $(document).ready(function() {
        var today = new persianDate();
        // Check if today is selectable

        var availableDates = [
            {% for date in workdays_formatted %}
                '{{ date }}',  // These are Gregorian dates in 'YYYY-MM-DD' format
            {% endfor %}
        ];

        var availablePersianDates = availableDates.map(function(gregorianDate) {
            var persianDateObj = new persianDate(new Date(gregorianDate)).format('YYYY-MM-DD');
            return persianDateObj;
        });

        $('.locale-fa').persianDatepicker({
            inline: true,
            navigator: {
                scroll: {
                    enabled: false
                }
            },
            minDate: today.valueOf(),
            checkDate: function(unix) {
                var selectedPersianDate = new persianDate(unix).format('YYYY-MM-DD');
                return availablePersianDates.includes(selectedPersianDate);
            },
            onSelect: function(unix) {
                var selectedPersianDate = new persianDate(unix).format('YYYY-MM-DD');
                var selectedIndex = availablePersianDates.indexOf(selectedPersianDate);
                var gregorianDate = availableDates[selectedIndex];                
                $('#selected-date').val(gregorianDate);
            },
        });    
        $('#reservation-form').on('submit', function(e) {
            e.preventDefault(); // Prevent default form submission
            var selectedDate = $('#selected-date').val();
            // Check if the selected date is in availableDates
            if (!availableDates.includes(selectedDate)) {
                // alert("این روز قابل انتخاب نیست. لطفاً یک روز دیگر را انتخاب کنید.");
                return; // Stop the submission if the date is not available
            }
            
            formData = $(this).serialize();

            $.ajax({
                url: "{% url 'reserveform:workday' %}",  // Your form submission URL
                type: "POST",
                data: formData,  // Send the form data
                success: function(response) {
                    console.log("Reservation submitted successfully!", response);
                    window.location.href = "{% url 'reserveform:workhour' %}";  // Redirect after success
                },
                error: function(xhr, status, error) {
                    console.error("Form submission failed: ", status, error);
                    alert("There was an error submitting the form. Please try again.");
                }
            });
        });
    });


    
</script>

{% endblock extra_js %}

