{% load static %}

    <!-- Font -->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">

    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" href="{% static 'css/vendor.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/bootstrap-icons/font/bootstrap-icons.css' %}">


    <!-- CSS Front Template -->
    <link rel="stylesheet" href="{% static 'css/theme.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/toastify/toastify.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl-carousel.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl-carousel.default.min.css' %}">

    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

    <!-- CSS Font Awsome -->
    <link rel="stylesheet" href="{% static 'fontawsome/all.css' %}">
    <link rel="stylesheet" href="{% static 'fontawsome/regular.min.css' %}" >
    <link rel="stylesheet" href="{% static 'fontawsome/solid.min.css' %}" >
    <link rel="stylesheet" href="{% static 'fontawsome/brands.min.css' %}" >

    {% block extra_css %} {% endblock extra_css %}

    {% block extra_css_no_compress %} {% endblock extra_css_no_compress %}